<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExcelIdea.GeneralSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ExcelIdea.GeneralSettings>
            <setting name="ExcelDataSource" serializeAs="String">
                <value>file</value>
            </setting>
            <setting name="CCInBackground" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CCPath" serializeAs="String">
                <value>C:\Program Files\ExcelIdea\bin</value>
            </setting>
            <setting name="OpenResultFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultResultDir" serializeAs="String">
                <value>C:\Users\Bob\Desktop</value>
            </setting>
        </ExcelIdea.GeneralSettings>
    </userSettings>
</configuration>